body { overflow-x: hidden; }
*{
    font-family: arial;
    margin: 0;
    padding: 0;
}

.bt_imprimir{
    margin-top: 40px;
    color:#fff;
    background-color: #96ad03;
    margin-left: 400px;
    padding: 5px;
    border: 1.5px solid #96ad03;
    width: 200px;
    float: left;
    cursor: pointer;
        
}
.tamanho_caracteres{
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 

}

#color_preco{
    background-color: #059348;
    color:#eee;
}


.bt_historico{
    margin-top: 40px;
    background-color: #376355;
    color:#fff;
}

.n_meio{
    text-align: center;
    margin-top: 10px;
}

.bt_imp_cupom{
    margin-top: 40px;
    text-align: center;
      border:0;
    float: left;
    color:#fff;
    background-color: #0f6677;
    text-decoration: none;
    width: 200px;
    padding: 5px;
    
}


.input_img_edit{
    border: 0;
    outline: 0;
    width: 100px;
    height: 100px;
    float: left;
    background-color: red;
}


.img_verprod input[type="file"] {
   display: none;
   float: left;
   
}

.img_verprod label{
    padding: 5px;
    width: 100px;
    height: 30px;
    background-color: rgb(8, 6, 143);
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-left: 28px;
    margin-top: 2px;
    cursor: pointer;
    float: left;
    line-height: 30px;
    
}

.img_verprod h3{
    text-align: center;
    width: 300px;
    font-size: 12px;
    height: 12px;
    float: left;
    margin-top: 10px;
    color: red;
    /* background-color: #ccc; */
}

.input_name_edit{
    padding: 5px;
    width: 130px;
    height: 40px;    
    background-color: rgb(119, 118, 118);
    color: rgb(255, 253, 253);
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-left: 30px;
    margin-top: 2px;
    cursor: pointer;
    float: left;
    border:0;
    outline: 0;
    cursor:auto;
}


.{   
   padding: 4px;
   color: #5a076b;
   font-weight: bold;
}
.bt_serv_cupom{
   margin-left: 600px;
    width: 200px;   
    float: left;
}
.bt_serv_cupom input{
    border:0;
    height: 30px;
    background-color: #0F6677;
    color:#fff;
    padding: 4px;
    cursor: pointer;
}

.barra_cima{
  width: 100%;
  float: left;
  height: 50px;

 }
.barra_cima h1{
    text-align: center;
    width: 400px;
    font-size: 30px;
    line-height: 50px;
    text-decoration: none; 
    background-color: #FF9800;       
    color:#fff;
    text-shadow: 2px 1px 1px #000;

}



.topo_pgs{ 
  width: 100%;
  float: left;
  min-height: 35px;
  margin-bottom: 10px;
  

 
}

.topo_pgs h1{
  margin-left: 5px;
  text-align: center;
  width:100px;
  color:#0F9D58;   
 font-family: 'Miltonian', cursive;
 font-family: 'Shadows Into Light', cursive;
 line-height: 30px;
  font-size:27px;  
  padding: 1px;
  border-bottom: 1px solid #0F9D58;
  
}

.topo_pgs h4{
    display: none;
    font-size : 12px;
   text-align: center;
    width:300px;
   color:#ccc;    
   background-color: #00C0EF;  
   text-transform: uppercase;
   padding: 2px;
   
    
}
#nome_prod{
    font-size: 12px;
    width: 100px;
}
#pequenar{
    font-size: 12px;
    width: 80px;
}

#p_preco{
   font-size: 12px;
    width: 40px;  
}

#id_prod{
    font-size: 14px;
    width: 20px;  
}
.topo_geral h1{
    margin-top: 80px;
    width: 150px;
    min-height:5000px;
    float:left;
    line-height: 16px;
    color:#ffffcc;
    background-color: #132450;   
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    
}

.topo_geral h1 a{   
   
    padding:12px;
    float: left;
    color:#fff;
    text-decoration: none;
    text-align: left;
}
.topo_geral h1 a:hover{   
   color:#767475;
    
  
}




.menu_.sistema h2{
    padding: 10px;
    background-color: #bbb;
    color:#fff;
    text-align: center;
}






.bt_logar {
    margin: 2px;
    padding: 10px;
    width: 65px;
    float: left;
    background-color: #010C26;

}
.bt_logar a {
    color:#fff;
    padding: 10px;
    text-decoration: none;

}

.bt_logar:hover {
    transition: 1s;
    background-color: #010C26;
    border-radius: 5px;



}


.email, .senha{ 
   border:1px solid #ccc;
 
}

.email{
   
}

.senha{
   
}


.cad_tela{
     width: 50%;
    margin-left: 100px;
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.cad_tela form input{    
    color:#F76701;
    text-align: center;
    padding:2px;
    border:0;
    outline: 0;
}

.cad_tela a{
    width: 100%;   
    line-height: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.cad_tela h3{
   padding: 20px;
    width: 100%;
    text-align: center;
    color:#fff;
    background-color: #330033;
}

.cad_tela form{
    display: flex;    
    flex-flow: row wrap;              
    width: 100%;


}

.bt_cad, .cad_tela form a{

    height: 60px;
    width: 100%;
}

.email_cad, .senha_cad{ 
    
     border:0;
    height: 60px;
    width: 50%;
}

.email_cad{
    border-radius: 10px 0 0 0px;
}

.senha_cad{
    border-radius: 0px 10px 0px 0px;
}





.bt_cad{
    color:#F76701;
    border:0;
    background-color: #330033;
    text-transform: uppercase;
}



.bt_cad:hover{
    cursor: pointer;
    background-color: #660066;

}



.mensagemerro{
    font-size: 20px;
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;

}

/* ------------------------AREA LOGADA--------------------------------------------*/

.menu{
   float: left;
    width: 100%;
    
}

.menu a{
    color:#fff;
}

.menu ul{
    
    width: 100%;    
    float: left;   
    line-height: 40px;
    height: 50px;
    background-color: #0c447c;

}

.menu ul li{

    list-style: none;
    float: left;
   

}





.menu ul li a{
    
    height: 40px;   
    text-decoration: none;
    color:#fff;    
  
  
}
.menu a{
    float: left;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.menu a:hover{
       
    background-color: #098aaa;
}
.lap_na_barra{
    font-weight: bold;
    color:#fff;
    font-size: 22px;
    margin-left: 10px;
    padding-right: 100px;
    line-height: 50px;
    /* background-color: #010C26; */
}
.sup_a{
    
  
}
.sup_b{ 

}


/* ------------------------AREA LOGADA--------------------------------------------*/
.clientes{
    
}
.clientes form{
    
    display: flex;
    flex-flow: row wrap;   

}

.clientes form input{
    text-transform: uppercase;
    outline: none;
     border: 0px solid #eee;
    text-align: center;
    width: 14.28%;
    padding: 10px;

}




/* -------------   LISTA FINANCA     ---*/
/*
.lista_financa thead tr{
     height: 40px;
    text-transform: uppercase;
    font-style: normal;
}




.lista_financa td a{
    text-decoration: none;
}

.lista_financa thead th{   
    background-color: #660066;
    color:#fff;

}

.lista_financa tbody tr{    
    height: 30px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #eee;
}
*/
/* ------------------------LISTA PRODUTOS--------------------------------------------*/
table{
  border-collapse: collapse;
}










.lista_prod_novo{    
    width: 100%;
    float: left;
}

.imagem_prod_novo{
    width: 195px;
    height: 195px;
    float: left;
 
   
}
.imagem_prod_novo img{
    width: 100%;
    height: 100%;
    
}

.comtem_quadros{
    margin: auto;
    width: 1200px;
    text-transform: capitalize;
   
    /* background-color: #009999; */
    
}

.todos_itens_quadro_prod{
    text-align: center;
    /* background-color: #ff0505; */
    float: left;
    width: 95%; 
}

.font_item1{
    font-size: 12px;
}

.font_item2{
    font-size: 14px;
}
.font_item3{
    font-size: 10px;
}

.comtem_quadros a{
    text-decoration: none;
    color:#000;
}
.n_f_n_p{
    max-height: 4ch;
    background-color: #06532a;
    text-transform: uppercase;
    color:#fff;
    max-width: 500px;     
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
     font-size: 12px; 
     text-transform: uppercase;
     padding: 5px;
    
}
.n_f_nt_p{
    padding: 5px;
    max-height: 4ch;
    background-color: #587c44;
    text-transform: uppercase;  
    color:#fff;
    max-width: 500px;     
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
     font-size: 10px; 
     text-transform: uppercase;
}

.preco_estilo_prod{
    margin-top: 2px;
    margin-left: 20px;
    background-color: #0fbd3a;
    color:#fff;
    font-size: 16px;
    padding: 5px;
    border-radius: 2px;
    width: 150px;
}
.estilo_ref{
    color:#840b0b;
    padding: 5px;
    font-size: 14px;
    max-width: 500px;     
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
     font-size: 10px; 
     text-transform: uppercase;
}
.estilo_aplic_p{
    background-color: #dadada;
    color:#030442;
    max-width: 500px;     
   white-space: nowrap; 
   overflow: hidden; 
   text-overflow: ellipsis; 
    font-size: 12px; 
    text-transform: uppercase;
}

.disponivel_estoque{
    text-transform: capitalize;
    font-size: 18px;
    font-family: cursive;
    margin-bottom: -100px;
    color: #0b9cc9;
}
.op{
    padding: 5px;
    font-size: 15px;
}
.op a{
    color: #fc5858;
}

.prod_quadro{
   /* background-color: #0ECC66;  */
    width: 196px;
    float: left;
    height: 340px;
    margin-bottom: 10px;
    margin-left: 2px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



























.lista_produtos table{
  
   width: 1000px;
   margin: 0 auto;
   border:0px solid red;
  
   
}

.lista_produtos{
     
    margin-bottom: 20px;
   
}



.lista_produtos thead{
     border-radius: 20px;
}
.lista_produtos th {
           
    text-transform: uppercase;
     font-weight: normal;
     border-bottom: 12px solid #fff;
     font-size: 11px;
     background-color:#009999 ;
     color:#fff;
     padding: 10px;
    
     
}

.form_editar_produto{
     width:  100%;
     margin-top: 10px;
     float: left;    
     height: 500px;
    
}

.form_editar_produto form{
  
    width: 960px;
    margin: 0 auto;
   
    
}



.form_excluir_produto{
     width:  100%;
    margin-top: 10px;
     float: left;    
     height: 500px;
}


.excluir_form{
   width: 960px;
    margin: 0 auto;
      
}
.lista_produtos td{
    color:#3D018C;
    font-size: 13px;
    padding: 10px;
    background-color: #eee;
    border-bottom: 10px solid #fff;
}

.lista_produtos tr{
    padding: 4px;   
    text-transform: uppercase;
}

.lista_produtos td img , .lista_clientes td img , .lista_financa td img{
width: 15px;
height: 15px;
}

.lista_produtos tbody td{
    color:#3D018C;
    font-size: 13px;
    padding: 10px;
    background-color: #eee;    
    border-bottom: 10px solid #fff;
}

.lista_produtos tbody{
   
}

.diminuir{   
    width: 10px;    
    font-size: 9px;
}

.diminuir_g{
    width: 5px;
}



.graficos{
 margin-top: 50px; 
 width: 100%;     
 float: left; 


}
.contem_grafico{

  
  width: 1300px;
  margin: 0 auto;
}

.lista_clientes a{
    
}
.cliente_editar a{
    font-size: 8px;
    border-radius: 3px ;
    text-decoration: none;
    background-color: #22b731;
    padding: 7px;
    color:#fff;
}

.cliente_excluir a{
     font-size: 7px;
     border-radius: 3px ;
    text-decoration: none;
    background-color: #EE3625;
    padding: 7px;
    color:#fff;
}






.cliente_ver a{
     border-radius: 3px ;
    text-decoration: none;
    background-color: #00C0EF;
    padding: 7px;
    color:#fff;
}

.lista_clientes table{
    margin-top: 20px;
}

.lista_clientes{
   width: 1000px;
   margin: 0 auto;
   border:0px solid red;
    
    }
    
    .cor_lista_clientes{
    
    }
    
  
  

.lista_clientes tr{
   
    text-transform: uppercase;
 
}
.lista_clientes th {
  
     text-transform: uppercase;
     font-weight: normal;
     border-bottom: 12px solid #fff;
     font-size: 11px;
     background-color:#009999 ;
     color:#fff;
     padding: 10px;
}
.lista_clientes td{
     color:#3D018C;
    font-size: 13px;
    padding: 10px;
    background-color: #eee;
    border-bottom: 10px solid #fff;
}




.lista_financa table{
     
   
}

.lista_financa{
   
    width: 960px;
   margin: 0 auto;
    margin-bottom: 20px;
   
}
.lista_financa tr{
    text-transform: uppercase;
}
.lista_financa th {
   margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
     background-color: #3d018c;
     color:#fff;
     padding: 10px;
}
.lista_financa td{
    color:#3D018C;
    font-size: 13px;
    padding: 10px;
    background-color: #eee;
    border-bottom: 10px solid #fff;
}

.servicos_ver a{
        border-radius: 3px ;
    text-decoration: none;
    background-color: #00C0EF;
    padding: 7px;
    color:#fff;
}
.servicos_editar a{
       border-radius: 3px ;
    text-decoration: none;
    background-color: #22b731;
    padding: 7px;
    color:#fff;
}
.servicos_excluir a{
      border-radius: 3px ;
    text-decoration: none;
    background-color: #EE3625;
    padding: 7px;
    color:#fff;
}




/*
.lista_clientes thead tr{   
    height: 40px;
    text-transform: uppercase;
    font-style: normal;



}

.lista_clientes td a{
    text-decoration: none;
}

.lista_clientes thead th{   
    background-color: #660066;
    color:#fff;

}

.lista_clientes tbody tr{    
    height: 30px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #eee;
}





*/





/*
.lista_produtos{ 
  
    margin-bottom: 50px;
}

.lista_produtos table{
    width: 500px;
        margin: auto;
}

.lista_produtos thead tr{
    font-size: 11px; 
    
    height: 40px;
    text-transform: uppercase;
    font-style: normal;
}


.lista_produtos td {
word-wrap: break-word;
}

.lista_produtos td a{
  
    text-decoration: none;
     background-color: #fff;
}
.lista_clientes td{
    background-color: #fff;
}
.lista_financa td{
    background-color: #fff;
}
.lista_produtos td img , .lista_clientes td img , .lista_financa td img{
width: 15px;
height: 15px;
}

.diminuir{
    padding: 0;  
    font-size: 9px;
}


.lista_produtos td {
 
}

.lista_produtos thead th{   
    background-color: #660066;
    color:#fff;
   

}

.lista_produtos tbody tr{    
    height: 30px;
    text-transform: uppercase;
    font-size: 12px;  	
    border: 1px solid #ccc;
}
*/



.exib_aplic{
    
}


.exib_local{
   
}

/* ------------------------PARTE DA NOTA--------------------------------------------*/

.nota_cliente h1{

    color: #660066;
    font-size: 18px;
    padding: 4px;
    text-transform: uppercase;
}

.nota_cliente{
    height: 60px;
}

.bt_voltar{ 
  float: right;
  margin-top: -35px; 
  margin-right:  55px;

  
}

.bt_voltar a{     
    text-decoration: none;
    background-color: #009999;
    padding: 10px;
     color:#fff;
     display: none;
}


.nota_cliente form{      


}

.nota{
    
    
}

.espaco{
    
}
.espaco form{
    margin: 0 auto;
    width: 960px;
}
.espaco form input{
   
}

.nota form input{
    
}
.bt_cli{
   background-color: #22B731;
   color:#fff;
     
}
.mover_form{
    border:1px solid #22B731;
    margin-left: 165px;
}


.nota_cliente input{      
    text-transform: uppercase;
    outline: none;
    border:0;
    text-align: center;
    width: 20%;
    padding: 10px;

}
.nota_cliente tr{      

    height: 30px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #eee;


}
.nota_cliente th{      

    background-color: #660066;
    color:#fff;


}

.nt_impressa_cupom{
  
  
        
       
    }
    
    

    .bt_cupom{
        
        width: 300px; 
        height: 100px;
      margin: 0 auto;  
    }
    
    .bt_cupom input{
        height: 30px;
        border: 0;
        width: 300px;        
        background-color: #0F6677;
        color:#fff;
        cursor: pointer;
    }
. {
    margin-top: 15px;
    font-size: 15px;    
    text-align: center;
}

.nt_topo{   
  display: none;
   background-color: #eee;
   float: left;
   
}

.nt_topo p{
    margin: 0 auto;
    margin-top: 10px;
    font-size: 12px;
    width: 80%;
    text-align: center;
}
.nt_topo div{
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    text-align: center;
    font-size: 11px;
}

.nt_topo img{
  margin-left: 40px;
  float: left;  
  width: 100px;
  
}

.nt_topo h5, .nt_topo h3, .nt_topo h4{
      margin-left: 40px;
}
.nt_topo H5{
  
    float: left;
    font-family: courier;
    text-align: center;
    font-size: 15px;
}
.nt_topo h3{
    float: left;
    font-family: courier;
    text-align: center;
    font-size: 15px;
}

.nt_topo h4{
    float: left;
    font-family: courier;
    text-align: center;
    font-size: 15px;
}

.nt_corpo{
    width: 95%;
    text-transform: uppercase;
    font-family: courier;
    font-size: 13px; 
    border-radius: 2px;     
    float: left;
   
    
}

.exibe_nome_clinte{ 
    /* background-color: #1a0591; */
    padding: 10px;
    height: 15px;   
    text-transform: uppercase;
    float: left;
    font-size: 6px;   
    color:rgb(0, 0, 0);
   
}

.exibe_nome_clinte h1{
    margin-left: 40px;
    float: left;
    height: 50px;
    font-size: 16px;
    color: #6666FF;
    
}
.exibe_nome_clinte p{
    margin-left: 5px;
    font-family: cursive;
    font-size: 13px;
    float: right;
    color: #020574;

    
}
.nt_corpo_ {
margin: 0 auto;
    width: 980px;
  
}

.nt_corpo_ th {  
    background-color: #b8b9b9;
    padding:4px;
    font-size: 14px;
    margin-bottom: 10px;
   
}
.nt_corpo_ table {  
    border: 1px solid #ccc;
   
}

.nt_corpo_ td {
  padding: 5px;
  background-color: #ffffff;
  color:#4f074f;
  border-bottom: 1px solid #ccc;

   
}



.nt_corpo td, .nt_corpo_ td{
    text-transform:uppercase;
    font-size: 12px;
}

.nt_corpo td a , .nt_corpo_ td a{
    text-decoration: none;
    font-size: 12px;
    background-color: #999;
    padding: 2px;
    text-transform: capitalize;
    color:#fff; 

}
.nt_corpo td :hover{
    background-color: #666;
    border-radius: 2px;
}

.nt_corpo th{
    font-size: 13px;  
    padding: 5px;
}
 .nt_topo_cupom{
         display: none;
    }
    
    
    hr{
        display:none;
    }
    
    .logo_nt{
        display: none;
    }
    .observacao{
        display: none;
    }
@media print {

    .nt_corpo td a,  .nt_corpo_ td a, .remover, .nota_cliente h1, .topo_geral, .nota_cliente input, .bt_voltar , .n_imprimir , .toggle-1{
        display: none;

        
    }




    .nt_corpo_ th {  
        background-color: none;
        padding:4px;
        font-size: 14px;
        margin-bottom: 10px;
       
    }
    .nt_corpo_ table {  
        border: 0px solid #ccc;
       
    }
    
    .nt_corpo_ td {
      padding: 5px;
      background-color: #ffffff;
      color:#4f074f;
      border-bottom: 0px solid #ccc;
    
       
    }




    .logo_nt {
        margin-left: 70px;
        width: 30px;
        display: block;
    }
    .data_nt{
        text-transform: uppercase;
        
        font-size: 12px;
    }
     .observacao{
         font-size: 10px;
         text-align: center;
         text-transform: uppercase;
        display: block;
    }
    .logo_nt img{
        text-align: center;
        width: 100px;
        
    }
    #mostra{
        display: none;
    }
    #mostra1{
        display: none;
    }
    #mostra2{
        display: none;
    }
    .nt_topo{
        margin: 0 auto;
        
        display: block;
        text-transform: uppercase;
    }
    
    hr{
        border:1px solid #000;
      display: block;  
    }
    .nt_topo h5{
       font-size: 10px;
     
    }
    .nt_topo h6{
        font-style: normal;
        text-align: center;
       font-size: 15px;
       text-transform: uppercase;
     
    }
    .nt_topo h3{
       font-size: 8px;
        
    }
    .nt_topo h4{
       font-size:10px;
       
    }
    .nt_topo h2{
       font-size:10px;
       
    }
    .nt_corpo{
       
    }
    
    .nt_corpo tr{
       font-size:9px;
    }
    .tamanho{
        font-size:12px;
    }

      .nt_corpo td{
       font-size:11px;
    }
    .nt_corpo_ td a{
        background-color: red;
    }
   .nt_corpo th{
       font-size:10px;
       
    }
    .nt_impressa_cupom{
        width: 250px;
       
    }
 
 
   
}


/* ------------------------PESQUISA--------------------------------------------*/
.pesquisa{
background-color: #fff;
}




/* ------------------------historico--------------------------------------------*/

.n_historico{
    padding: 5px;
    text-align: center;
}
.historico{   
    color:#0F6677;
   width: 960px;
    margin: 20px auto;
    border-radius: 4px;
   
    margin-bottom: 200px;
    
}

.historico table{
    
    margin: 0  auto;
   
}
.historico tr{
    font-size: 12px;
   
}
.historico th{
    color:#4f074f;
    background-color: #08ad55;
  padding: 5px;
   
}
.historico td{
    text-transform: uppercase;
  color:#4f074f;
   background-color: #0ecc66;
}


.nt_corpo h4{
    padding: 5px;
    margin-top: 50px;
    text-align: center;
}


/* Checkbox Hack */
#toggle-1 {
   display:none;
}

label { 
  -webkit-appearance: push-button;
  -moz-appearance: button; 
  display: inline-block;
  cursor: pointer;
  padding: 5px;
}

.estilo_inserir{
    margin-bottom:10px;
    border-radius: 2px;
    margin-right: 50px;
    float: right;
    background-color: #8BC34A;
}

.estilo_inserir p{
    color:#fff;
   font-size: 14px; 
}
/* CSS padrão da div */
#mostra {     
   display:none;
}
#mostra1{     
   display:none;
}
#mostra2{     
   display:none;
}
#mostra4{     
   display:none;
}
/* CSS quando o checkbox está marcado */
#toggle-1:checked ~ #mostra {  
    display:block;
}
#toggle-1:checked ~ #mostra1 {  
    display:inline-flex;
}
#toggle-1:checked ~ #mostra2 {  
    display:inline-flex;
}
#toggle-1:checked ~ #mostra4 {  
    display:block;
    
}

/* ------------------------PAGINA  DE PRODUTOS--------------------------------------------*/

.produtos{
   
    
}

.produtos form{
   margin: auto;
   padding: 0;
   width: 50%;

}

.i{
    text-transform: uppercase; 
    padding: 5px;
     border:1px solid #eee;
     width: 33.33%;
     float: left;    
     outline: 0;
     text-align: center;
      height: 40px;
     
}
.n{
    text-transform: uppercase; 
    padding: 5px; 
    width: 100%;
    border:1px solid #eee;
     outline: 0;
     text-align: center;
      height: 40px;
    
}
.bt_prod{
    background-color: #02823e;
    color:#fff;
    border:0;
    width: 100%;
    height: 40px;
    text-transform: uppercase; 
    cursor: pointer;
}
.bt_prod_edit{
    background-color: #42a52c;
    color:#fff;
    border:0;
    width: 100%;
    height: 70px;
    text-transform: uppercase; 
    cursor: pointer;
}
.bt_prod_excluir{
    background-color: #ff0505;
    color:#fff;
    border:0;
    width: 100%;
    height: 70px;
    text-transform: uppercase; 
    cursor: pointer;
}


.produtos h3{
    text-transform: uppercase;
    padding: 10px;
}

.pesquisa_prod{
     margin-bottom: 35px;
    border:0;
    float: left;
    width: 100%; 
    height: 50px;
  
}

.pesquisa_prod input{
     float: left;
     text-align: center;
     font-size: 18px;
     outline: none;
     margin-bottom: 25px;   
     margin-top: 5px;
     height: 50px;
    
  
}


.pesquisa_prod input::-webkit-input-placeholder{     
      color: #fff;
      font-size: 13px;
  
}



























.ip_pe{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border:0px solid #3D018C; 
    border-left: none;
    border-right:  none;
    text-transform: uppercase;
    background-color: #99ccff;
    color:#5a076b;
   
}

.bt_pe{  
    border:0;
    width: 150px;
    background-color:#059348;
    color:#fff;
     text-transform: capitalize;
     cursor: pointer;
     display: none;
}



.inserir_produto{
     border: 0px solid #840b0b; 
height: 35px;
    width: 1000px;
    margin:  auto;
  
 
}
.bt_inserir_n{
    color:#fff;
    background-color: #352784;
}

.inserir_produto input{
    
   
    float: left;
    width: 200px;
    

    
}

.apresenta h5{
    float: left;
   width: 100%;
   text-align: center;
   font-weight: normal;
   padding: 5px;
   font-size: 18px;
   
   color:#E91E63;
}


.qtde_ins{
  
}


.pesquisa_produto{    
   
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
   
}  

.pesquisa_produto table{
    border:1px solid #ccc;
}
.pesquisa_produto thead tr {
    background-color: #3D018C;
     height: 35px;
     color:#fff;
     
}

.pesquisa_produto th {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    
  
}
.pesquisa_produto td{
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px;
    border-bottom:1px solid #ccc;
}


/*----------------------COMPRAS---------------*/

.nota{
 margin: 0 auto;
 width: 960px;
 
 
 background-color: pink;
}
.boleto form, .nota form{
  border: 1px solid #059348;
   float: left;
   width: 960px;
   margin-bottom: 20px;
    

}

.boleto form input, .nota form input{
    margin: 0;   
    text-transform: uppercase;
    outline: none;
    border: 0px solid red;
    text-align: center;    
    padding: 10px;

}

.bt_serv{
    color:#fff;
    background-color: #059348;
    width: 100%;
    text-align: center;
}
/*----------------------Campo pesquisa---------------*/

#filtro-nome{
     margin-left: 300px;
}

#filtro-nome, #filtro-referencia{
    
    margin-bottom: 20px;   
    text-transform: uppercase;
    height: 35px;
    width: 300px;
    outline: 0;
    text-align: center;
  
    border:1px solid #ccc;
    color:#330033;
}

.sair img{
    margin-top: 5px;
    float: right;
    padding: 5px;
 width: 25px; 
 height: 25px; 
}

.estoque_baixo{
    margin-left: 140px;
    float: left;
    height: 40px;
    
    
}
.estoque_baixo p{
    text-align: center;
   font-size: 11px;
    
    
}
.estoque_alto{   
    float: left;
    height: 40px;
    
}
.estoque_eletrica{   
    float: left;
    height: 40px;
    
}
.estoque_alto p{
    /* background-color: #000000; */
    text-align: center;
   font-size: 11px;
    
    
}
.estoque_eletrica p{
    /* background-color: #000000; */
    text-align: center;
   font-size: 11px;
    
    
}
.estoq_ab{
    float: left;
    height: 60px;
    width: 800px;
    /* background-color: rgb(0, 153, 38); */
    margin-bottom: 50px;
  
}

.estoque_baixo input{
    background-image: url("../../midias/imagens/estoque_baixo.png");
    background-repeat: no-repeat;
    background-size: 35px;   
    background-color: #fff;
    background-position: center;
    color:#fff;
    line-height:85px;
    border: 0;
    float: left;    
    margin-left: 5px; 
    height: 60px;
    font-size: 10px;
    width: 100px;
    cursor: pointer;
  
}

.estoque_alto input{
   background-image: url("../../midias/imagens/estoque_gov.png");
    background-repeat: no-repeat;
    background-size: 35px;
    background-color: #fff;   
    background-position: center;
    color:#fff;
    margin-left: 5px;
    line-height:85px;
    border: 0;
    float: left;        
    height: 60px;
    font-size: 8px;
    width: 50px;
    cursor: pointer;
    
  
  
}

.estoque_eletrica input{
   background-image: url("../../midias/imagens/eletrica.png");
    background-repeat: no-repeat;
    background-size: 35px;
    background-color: #fff;   
    background-position: center;
    color:#fff;
    margin-left: 5px;
    line-height:85px;
    border: 0;
    float: left;        
    height: 60px;
    font-size: 8px;
    width: 50px;
    cursor: pointer;
    
  
  
}
.itens_falta_p{
    margin-right: 10px;
    font-family: cursive;
    color:rgb(255, 255, 255);
    padding: 5px;
    float: right;
    background-color: #ff5b63;
    border-radius: 4px;
}
.itens_elet_qt{
    margin-top: -110px;
    margin-right: -50px;
    font-family: cursive;
    color:rgb(255, 255, 255);
    padding: 5px;
    float: right;
    background-color: #ff5b63;
    border-radius: 4px;
}

/* --------------------DAQUI PRA BAIXO PAGINA INDIVIDUAL DE PRODUTOS NA PARTE DE VER ---------- */

.ver_produtos_pg_ver{
    width: 100%;
    float: left;
    height:600px;
    margin-top: 15px;
    margin-bottom: 200px;    
    
}


.ver_prod_container_ver{
    width: 1100px;
    margin: 0 auto;
    height: 100%;    
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.parte_cima_nome_ver{
    float: left;
    width: 100%;
    /* background-color: #0b9cc9; */
    height: 60px;
    border-bottom: 1px solid rgb(122, 66, 255);
}
.parte_cima_nome_ver p{
    font-size: 17px;
    padding: 5px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    
}

.ver_prod_imagem_ver{
    /* background-color: red; */
    margin-left: 5px;
    width: 40%;
    height: 100%;    
    float: left;
    
}

.img_verprod_ver{
    /* background-color: #42a52c; */
    height: 87%;
   
}
.img_verprod_ver article{
    padding: 5px;
    text-transform: uppercase;
   text-align: center;
   font-size: 16px;
   font-weight: bolder;
   text-shadow: 0 10px 20px rgba(131, 220, 255, 0.19), 0 6px 6px rgba(119, 109, 255, 0.23);
 
   
}
.img_verprod_ver img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* border : 1px solid #00C0EF; */
    
}


.img_verprod{
    width: 300px;
    height: 300px;  
    margin-left: 20px; 
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    /* background-color: #000000; */
    padding: 10px;
   
    
 }

.img_verprod img{
    width: 100%;
    height: 100%;
    
    border: 1px solid #000;
    /* border : 1px solid #00C0EF; */
    
}



.preco_comp_prod_nome_preco_ver{
/* background-color: #009999; */
margin-top: 10px;
width: 45%;
float: left;
text-align: center;
font-size: 16px;
line-height: 30px;
color: rgb(85, 85, 85);



}

.preco_vend_prod_nome_preco_ver{
    margin-top: 10px;
    width: 45%;
    float: left;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: rgb(0, 153, 38);
    border-bottom: 1px solid rgb(122, 66, 255);
    
}
.preco_vend_prod_nome_preco_ver p{
   
    width: 100%;
    text-align: center;
    font-size: 19px;
   
    
}


.preco_vend_prod_nome_preco_ver img{
    padding: 5px;
    float: left;
    width: 45px;
    height: 45px;
    margin-top: 2px;
    
}



.id_pg_prod_ver{
    width: 15%;
    margin-left: 40px;
    /* background-color: red;     */
    float: left;
    padding: 3px;
    text-transform: uppercase;
    font-size: 14px;
}

.ref_pg_prod_ver{
    width: 50%;
    /* background-color: #02823e; */    
    float: left;
    
    padding: 3px;
    text-transform: uppercase;
    font-size: 14px;
}

.aplic_prod_prod_ver{
    float: left;
    width: 100%;
    height: 30%;
    /* background-color: #42a52c; */
}

.aplic_prod_prod_ver p{
    padding: 3px;
    width: 100%;
    text-align: center;
    float: left;
    text-transform: uppercase;
    font-size: 12px;
    /* background-color: #000000; */
}

.quadro_info_estoque{
    float: left;
    width: 100%;
    height: 30%;
    /* background-color: #9ddf8f; */
}

.titulo_quadros_ver{
    width: 100%;
    height: 30%;
    /* background-color: #fd0000; */
}

.titulo_quadros_ver h1{
    margin-left: 10px;
    float: left;
    width: 40px;
    line-height: 40px;
    height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 17px;
    /* background-color: #009999; */
}

.aplic_prod_prod_ver h1{
    margin-left: 30px;
    float: left;    
    line-height: 40px;
    height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 17px;
    /* background-color: #009999; */
}
.aplic_prod_prod_ver img{
    margin-left: 40px;
    float: left;
    /* background-color: #010C26; */
    width:40px;
    height: 40px;
}

.quadro_info_estoque img{
    margin-left: 45px;
    float: left;
    /* background-color: #010C26; */
    width:40px;
    height: 40px;
}
.quadro_info_estoque h1{
    margin-left: 30px;
    width: 60%;
    float: left;    
    line-height: 40px;
    height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 17px;
    /* background-color: #009999; */
}


.cat_for_fab img{
    margin-top: 5px;
    margin-left: 45px;
    float: left;
    /* background-color: #010C26; */
    width:40px;
    height: 40px;
}
.cat_for_fab h1{
    margin-left: 30px;
    width: 60%;
    float: left;    
    line-height: 40px;
    height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 17px;
    color:#000;
    /* background-color: #009999; */
}


.titulo_quadros_ver img{
    margin-left: 40px;
    float: left;
    /* background-color: #010C26; */
    width: 40px;
    height: 40px;
}

.nome_loca_prod_ind_ver h1{
    margin-left: -20px;
    width: 60%;
    float: left;    
    line-height: 40px;
    height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 17px;
    color:#000;
    /* background-color: #009999; */
}
.nome_loca_prod_ind_ver img{
    margin-left: 55px;
    float: left;
    /* background-color: #010C26; */
    width: 40px;
    height: 40px;
}
.nome_loca_prod_ind_ver p{
    width: 100%;
    margin-top: 3px;
    float: left;
    /* background-color: #352784; */
    text-align: center;
    font-size: ;
}



.dados_prod_ver_outro_lado{
    float: left;
    margin-left: 5px;
    width: 29%;
    height: 100%;
    
    /* border-right:1px solid #fff;
    border-left:1px solid #fff; */
}

.cat_cat_ver{  
    margin-top: 20px;  
    margin-left: -35px;
    /* background-color: red; */
    width: 25%;
    float: left;
    text-transform: uppercase;
    font-size: 12px;
   
    color:#000;
}
.cat_for_ver{
    margin-top: 20px;  
    /* background-color: red; */
    width: 20%;
    float: left;
    text-transform: uppercase;
    font-size: 12px;
     
    color:#000;
}
.cat_fab_ver{
    margin-top: 20px;  
    /* background-color: red; */
    width: 20%;
    float: left;
    text-transform: uppercase;
    font-size: 12px;
       
    color:#000;
}

.nome_loca_prod_ind_ver{
    text-transform: uppercase;
    width: 100%;   
    float: left;
   
    font-size: 14px;
    text-align: center;
}

.encapsula_precos_dados_ver{
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
    /* background-color: #00C0EF; */
    text-align: center;
    
}
.encapsula_precos_dados_ver p{
  width: 40%;
  float: left;
  margin-left: 15px;
  text-transform: uppercase;
  color:rgb(145, 139, 139);
}


.nome_qtde_item1_ver{
    float: left;
    width: 30%;   
    margin-left: 10px; 
    text-align: center;
    padding: 3px;
    text-transform: uppercase;
    font-size: 12px;
    /* background-color: #e46e6e; */
}
.nome_qtde_item2_ver{
   
    float: left;
    width: 30%;    
    text-align: center;
    padding: 3px;
    text-transform: uppercase;
    font-size: 12px;
    /* background-color: #e46e6e; */
}
.nome_qtde_item3_ver{
    float: left;
    width: 30%;    
    text-align: center;
    padding: 3px;
    text-transform: uppercase;
    font-size: 12px;
    /* background-color: #e46e6e; */
}


.nome_referencia{
    width: 100%;
    height: 30%;
    /* background-color: #3D018C; */
}


.cat_for_fab{
    width: 100%;
    height: 30%;
    /* background-color: #3D018C;  */
}

.preco_comp_prod_nome_preco_ver img{
    padding: 5px;
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 2px;
}


/* --------------------DAQUI PRA BAIXO PAGINA INDIVIDUAL DE PRODUTOS NA PARTE DE VER FIM ---------- */


.ver_produtos_pg{
    width: 1200px;
    margin: auto;
    height:600px;
    margin-bottom: 200px;
    
}


.ver_produtos_pg h4{
   float: left;   
   width: 100%;  
   padding: 5px;
   font-size: 18px;
   font-style: normal;
   font-weight: lighter;
   /* background-color: #059348; */
   text-transform: uppercase;
}



.ver_prod_imagem{
    margin-top: 35px;    
    float: left;       
    width: 1100px;
    min-height: 300px;
    border-radius: 10px;    
   
   
}



.ver_prod_imagem img{
    float: left;
     width: 100%;
  
     /* border: 1px solid red; */
     margin-left: 20px;
  
    background-size:contain;
}



.dados_prod{
    float: left;
    margin-left: 20px;
    background-color:#5A7BC4;
    width: 700px;    
    padding: 4px;
    height: auto;
    border-radius: 5px;
   
}
.dados_prod_ver{
    float: left;
    margin-left: 5px;
    width: 29%;
    height: 100%;
   /* border-right:1px solid #fff;
   border-left:1px solid #fff; */
  
}
.posicao_input_envia{
    background-color: #0d8054;
  margin-left:100px ;
}

.ver_prod_imagem li{
    list-style: none;   
    width: 500px;
      
    color:#000;
    text-transform: uppercase;
    padding: 2px;
   
    
}
.ver_prod_imagem li p{
 
    
}
.ver_prod_imagem li div{
 
   
    
}



.id_pg_prod{
    color:#009999;
    font-size: 12px;
    padding: 5px;
    width: 200px;
    float: left;
    /* background-color: #00C0EF; */
}



.ref_pg_prod{   
    font-size: 14px;
    float: left;
    text-transform: uppercase;
    border-radius: 5px;
    border-color: #fff;;
    width: 74%;
    padding: 5px;
    outline: 0;
    margin: 2px;

}
.dados_prod p{
    padding: 5px;
    margin: 2px;
    /* background-color: #009999; */    
    color: #ffffff;
    font-size: 14px;
    font-family: cursive;
    float: left;
    width: 20%;
    text-transform: uppercase;
}

.plus_size{
    font-size: 16px;
}

.nome_pg_prod{
    float: left;
    width: 48%;
    color:#009999;
    font-size: 20px;
    
}

.preco_vend_prod{
    text-align: center;
    float: left;
    width: 200px;
    color:#000;
    /* background-color: #00C0EF  ; */
}
.preco_comp_prod{
    text-align: center;
    float: left;
    width: 200px;
    color:#009999
    /* background-color: #00C0EF  ; */
}


.encapsulando_cat_fabr{
    margin-top: 10px;
    float: left;
    width: 450px;
    margin-bottom: 10px;

    
}
.cat_for_fab{
    font-size: 12px;
    float: left;
    margin-left: 5px;
    color:#ccc;
    text-transform: uppercase;
    /* background-color: #000000; */
}


.encapsula_precos{
    margin-top: 10px;
    width: 450px;
    min-height: 20px;
    float: left;
    /* background-color: #0ECC66; */
}


.preco_comp_prod_nome{
    font-size: 12px;
}


.preco_comp_prod_nome_preco{
    font-size: 22px;
}

.preco_vend_prod_nome{
    font-size: 12px; 
}


.preco_vend_prod_nome_preco{
    font-size: 35px;
}


.encapsula_aplic{
    margin-top: 10px;
   
    float: left;
    /* background-color: #00C0EF; */
    width: 450px;
    text-align: center;
}
.aplic_prod_nome{
    text-align: center;
    font-size: 14px;
    padding: 4px;
}

.aplic_prod_prod{    
    padding: 2px;
    font-size: 16px;
}

.encapsula_quantidades{
    width: 450px;
    /* background-color: aquamarine; */
    float: left;
}

.itens_qtde{
    float: left;
    margin-left: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    
}

.nome_qtde_item1{
    font-size: 20px;
}
.nome_qtde_item2{
    font-size: 15px;
}
.nome_qtde_item3{
    font-size: 10px;
}

.itens_qtde p{
    font-size: 14px;
}

.titulo_dados_prod{
    margin-top: 20px;
    width: 450px;
    /* background-color: aquamarine; */
    float: left;
}
.titulo_dados_prod h2{
    font-weight: bolder;
    text-align: center;
   font-size: 14px;
   color:#ccc;
}

.encapsula_precos_dados{
    color: #ccc;
    text-align: center;
    width: 450px;
    /* background-color: aquamarine; */
    float: left;
}

.encapsula_precos_dados p{
    text-transform: uppercase;
    width: 450px;
    padding: 5px;
    float: left;
    font-size: 14px;
    text-align: center;
    color:#b7b9b9
}
.local_prod_ind{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    width: 450px;
    /* background-color: aquamarine; */
    float: left;
}

.nome_loca_prod_ind{
    padding: 5px;   
    color:#000;
    font-size: 14px;
}

.local_prod_ind p{
    font-weight: bolder;
    color:#000;
}


.bt_edit_pg_prod_ind input{
    padding: 4px; ;
    
}
.bt_edit_pg_prod_ind img{
    margin-top: 55px;
    float: left;
    /* background-color: red; */
    
}
.bt_edit_pg_prod_ind a{
   
    margin-top: 60px;
    /* background-color: #2196F3; */
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color:#009999;
    padding: 4px;
    
    float: left;
}











.estoque_min_personalizado td{
    border-bottom: 1px solid red;
}

.opcoes_lst_prod{
    text-align: center;
    margin-bottom: 10px;
   width: 100%;
 
  float: left;
}
.opcoes_lst_prod p{
    margin: 0 auto;
    width: 300px;
   padding: 10px;  
   background-color: #00C0EF;
   color:#fff;
  
}
.qtde_clientes{   
    margin:0 auto;
    width: 980px;
    
}

.quadros_dados{      
    margin-top: 50px;
    float: left;
    width: 100%;  
  
    
}

.quadros_centralizado{
   width: 1200px;   
   margin: 0 auto;
   background-color: #fff;
}

.qtde_prod_design, .valor_compra_design, .valor_venda_design, .cliente_cad_design{
    
    margin-left: 10px;
    height: 100px;
    float: left;
    width: 250px;
    background-color: #330033;
    color:#fff;
    border-radius: 25px;
}
.qtde_prod_design h5, .valor_compra_design h5, .valor_venda_design h5, .cliente_cad_design h5{
   padding: 2px;
    background-color: #39C4BF;
    text-align: center;
   font-size: 14px;
   text-transform: uppercase;
}
.qtde_prod_design h4, .valor_compra_design h4, .valor_venda_design h4, .cliente_cad_design h4{
    
    margin-top: 15px;
    font-weight: normal;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    

}
.qtde_prod_design{
     background-color: #637B85;
}
.qtde_prod_design h5{
   
}
.valor_compra_design{
    background-color: #637B85;
}
.valor_venda_design{
    background-color: #637B85;
}
.cliente_cad_design{
    background-color: #637B85;
}


.bt_inserir_n_r{
    background-color: red;
    width: 400px;
}

.pg_parceiros{    
    width: 100%;
    height: 700px;
    float: left;
    /* background-color: #00C0EF; */

}

.main_pg_parceiros{

    margin: 0 auto;
    width: 1200px;
    height: 100%;
    /* background-color: #0f6677; */
}
.main_pg_parceiros img{
    float: left;
    width: 33%;
    height: 300px;
}



/*------------------- COMEÇA AQUI O ESTILO DA PAGINA CAIXA */
.pg_caixa{
    margin-top: 20px;
    /* background-color: #6666FF; */
    float: left;
    width: 100%;
}

.main_caixa{
    /* background-color: #a4aec5; */
    margin: 0 auto;
    width: 85%;
    min-height: 300px;
}
.main_caixa form{
    float: left;
    padding: 2px;
    min-height: 500px;
    width: 100%;
    background-color: #5a7bc4;
    border-radius:5px; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   
}


.manter_layout_caixa{
    float: left;;
    width: 300px;
    /* background-color: #3c5488; */
    height: 99999999px;
  
    
}


.alinha_inputs_data{
    width: 90%;
    height: auto;
    /* background-color: #808181; */
    margin: 0 auto;
 
    
}
.alinha_inputs_data p{
    color:#fff;
    padding: 2px;
    font-size: 14px;
    font-family: cursive;
    text-transform: uppercase;
   text-align: center;
    
}

.inputs_inser_caixa {
    padding: 5px;
}
.inputs_inser_caixa input{
    float: left;
    color:#3D018C;
    border-radius: 5px;   
    height: 30px;
    width: 100%;
    border:1px solid #fff;
    outline: 0;
    text-align: center;
}
inputs_inser_caixa p{
    
    float: left;
    
}
.option_caixa select{
    float: left;
    text-align: center;
    border:1px solid #fff;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    outline: 0;
    color:#3D018C;
}

.estilo_bt_env_caixa input{
    margin-top: 5px;
    height: 50px;
    transition: 1s;
    border:0 !important;
    color:#fff;
    background-color: #030442;
}
.estilo_bt_env_caixa input:hover{
    transition: 1s;
    border:0 !important;
    color:#030442;
    background-color: #ddddf3;
}

.tabela_caixa{
    margin-bottom: 50px;
    float: left;
    margin-left: 20px;
    padding: 2px;
    height: auto;
    width: 68%;
    background-color: #a5bbf3;
    border-radius:5px; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.tabela_caixa h3{
    margin: 0 auto;
    width: 200px;
    border-bottom: 1px solid #fff;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(146, 95, 228);
    text-transform: uppercase;
    text-align: center;
}





.tabela_caixa table{
    margin: 0 auto;
    width: 97%;
    text-transform: capitalize;
    
}
.tabela_caixa th{
    padding: 5px;
   text-transform: uppercase;
   font-size: 12px;
   font-family: cursive;   
   color:#4247a0
}

.h3_tabel_a_lancar{
    width: 700px !important;
}

.cor_a_lancar_caixa{
    background-color: #bfc0ff !important;

}

.tamanho_checkbox_caixa input{
    width: 20px !important;
    margin-left: 10px;
} 
.tamanho_checkbox_caixa label{
    color:#fff;
    font-family: cursive;
}
.opflutuante{
  
    position: absolute;    
    margin-top: -120px;
    margin-left: 164px;
}
.opflutuante a{
    
    width: 50px;
   
}

.opflutuante img{
    margin-left: 10px;
    margin-top: -20px;
    width: 30px;
    margin: 1px;
    
}

.estilo_componentes_alancar td{
    border-bottom:1px solid #C5C5C5;
   padding: 2px;
    margin-top: 10px;
    background-color: #b8aec5; 
    
    color:rgb(238, 237, 237);
}

.estilo_componentes_alancar tr{
    
    border-radius: 50px;
    
}

.estilo_componentes_alancar td a{
    
   
    text-decoration: none;    
    
}

.bt_excluir_caixa a{
    text-decoration: none;
    border-radius: 2px;
    font-size: 12px;
    padding: 3px;
    font-weight: bold;
    
    color:rgb(255, 0, 0);
    background-color: #fff;
}

.bt_lancar_caixa a{
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 12px;
    padding: 4px;
    color:#fff;
    background-color: #5735f1;
}

.estilo_componentes_lancados td{
    border-bottom:1px solid #C5C5C5;
   padding: 2px;
    margin-top: 10px;
    background-color: #646d67; 
    
    color:rgb(224, 216, 216);
}


/* -----------------------pagina de login inicio-------------------------- */

.pagina_login{
    height: 100%;
    float: left;
    width: 100%;
    
}

.tela_logar{
    float: left;
    background-color: #ffffff;
    height: 100%;
    width: 33.3%;
}
.tela_apresentacao{
    float: left;
    background-color: #5d11a3;
    height: 100%;
    width: 66.7%;
}

.nome_marca_login{
    margin-left: 65px;
    color:#0c328b;
    /* background-color: #009999; */
    margin-top: 65px;
    height: 30px;
    width: 290px;
}
.nome_marca_login article{
    line-height: 25px;
    font-size: 30px;
    font-family: cursive;
    font-weight: bolder;
}

.info_para_dados{
    /* background-color: #009999; */
    margin-top: 65px;
    margin-left: 65px;
    float: left;
    width: 290px;
    height: 75px;
}
.info_para_dados article{
    line-height: 35px;
    font-size: 30px;
    font-family: cursive;
    font-weight: bolder;
}

.tela_logar form{
    margin-left: 65px;
    margin-top: 30px;
    float: left;
    /* background-color: #00C0EF; */
    width: 330px;
}
.tela_logar p{
    font-family: cursive;
   color:#7D5C57;
}

.tela_logar input{
    padding: 10px;
    font-size: 14px;
    border:1px solid rgb(155, 151, 151);
    border-radius: 4px;
    margin-bottom: 40px;
    height: 45px;
    width: 330px;
}
.tela_logar aside{
  
    color:#1397D5;
}

.bt_entrar_login{
    text-transform: capitalize;
    color:#fff;
    background-color: #188d34;
}


.descricao_tel_ap{
    float: left;
    /* background-color: #60aa84; */
    width: 35%;
    height: 100%;
}
.descricao_img_tel_ap{
    float: left;
    /* background-color: #22B731; */
    width: 65%;
    height: 100%;
}


.img_tel_login1{
    float: left;
    margin-left: 95px;
    margin-top: 20px;
    width: 400px;
}
.img_tel_login2{
    float: left;
    margin-left: 75px;
    margin-top: 20px;
    width: 200px;
}
.img_tel_login3{
    float: left;
    margin-left: 75px;
    margin-top: 20px;
    width: 200px;
}
.img_tel_login4{
    float: left;
    margin-left: 75px;
    margin-top: 100px;
    width: 190px;
}
.novo_designe_tel_ap{
    color:#0b7939;
    line-height: 22px;
    font-family: cursive;
    font-size: 14px;
    text-align: center;
    background-color: #D8FAD2;
    border-radius: 4px;
    width: 120px;
    margin-left: 30px;
    margin-top: 55px;
    height: 22px;
}
.descricao_1_terl_ap{
    color:#fff;
    line-height:35px;
    margin-top: 10px;
    font-size: 25px;
    padding: 20px;
}

.descricao_2_terl_ap{
    margin-left: 20px;
    font-size: 16px;
    color:rgb(223, 215, 215);
}

.descricao_3_terl_ap{
    text-align: center;
    text-transform: capitalize;
    color:#15427c;
    line-height: 20px;
    border-radius: 3px;
    height: 20px;
    width: 200px;
    font-size: 13px;
    background-color: #D3F1FD;
    margin-left: 20px;
    margin-top: 20px;
}
/* -----------------------pagina de login fim -------------------------- */
.limites_emp_disp{
    float: left;
    height: 30px;
    width: 100%;
    background-color: #3e5383;
}
.limites_emp_disp h5{
    margin-top: 4px;
    line-height: 22px;
    border-radius: 3px;
    margin-left: 10px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
.estilo_h5_limite{
    
    background-color: #463c69;
    color:rgb(165, 155, 155);
}

.exibir_soma {
    
   
    
    border-radius: 3px;
    margin-left: 10px;
    float: left;
    font-size: 16px;
    background-color: #125710;
    color:#fff;
    
}

#exibir_soma_negativa {
    border-radius: 3px;
    margin-left: 10px;
    float: left;
    font-size: 16px;
    background-color: #bd1212;
    color:#fff;
    
}